=begin
#VPNDetection API

#The VPNDetection API: classify any IP address, and download the databases behind the answers.  See https://docs.vpndetection.io for guides and https://github.com/vpndetection-io for the official client libraries. 

The version of the OpenAPI document: 2026.09.15
Contact: support@vpndetection.io
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module VPNDetection
  class AccountWireApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Identity
    # The identity behind this credential: what it is, the organization it is scoped to, and the scopes it currently holds.  `user` is present for an OAuth token and ABSENT for an API key, which has an organization but no person behind it. `credential.kind` says which you are holding, so a client can branch without guessing from a missing field.  Narrower than what the console shows its own user on purpose: an integration needs a name to display and an organization to address, not a profile. The `scopes` array is what the credential may do RIGHT NOW, so a client can render its own capabilities rather than discovering them from a 403. 
    # @param [Hash] opts the optional parameters
    # @return [Identity]
    def account_identity(opts = {})
      data, _status_code, _headers = account_identity_with_http_info(opts)
      data
    end

    # Identity
    # The identity behind this credential: what it is, the organization it is scoped to, and the scopes it currently holds.  &#x60;user&#x60; is present for an OAuth token and ABSENT for an API key, which has an organization but no person behind it. &#x60;credential.kind&#x60; says which you are holding, so a client can branch without guessing from a missing field.  Narrower than what the console shows its own user on purpose: an integration needs a name to display and an organization to address, not a profile. The &#x60;scopes&#x60; array is what the credential may do RIGHT NOW, so a client can render its own capabilities rather than discovering them from a 403. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Identity, Integer, Hash)>] Identity data, response status code and response headers
    def account_identity_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountWireApi.account_identity ...'
      end
      # resource path
      local_var_path = '/api/v1/iam/identity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Identity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountWireApi.account_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountWireApi#account_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
