=begin
#VPNDetection API

#The VPNDetection API: classify any IP address, and download the databases behind the answers.  See https://docs.vpndetection.io for guides and https://github.com/vpndetection-io for the official client libraries. 

The version of the OpenAPI document: 2026.09.16
Contact: support@vpndetection.io
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module VPNDetection
  class APIKeysWireApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create
    # Creates a key and returns its secret.  This is the ONLY response that ever carries the secret, and only because this is the moment it comes into existence. Store it now. 
    # @param account_create_apikey_request [AccountCreateApikeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AccountCreatedApikey]
    def account_create_apikey(account_create_apikey_request, opts = {})
      data, _status_code, _headers = account_create_apikey_with_http_info(account_create_apikey_request, opts)
      data
    end

    # Create
    # Creates a key and returns its secret.  This is the ONLY response that ever carries the secret, and only because this is the moment it comes into existence. Store it now. 
    # @param account_create_apikey_request [AccountCreateApikeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountCreatedApikey, Integer, Hash)>] AccountCreatedApikey data, response status code and response headers
    def account_create_apikey_with_http_info(account_create_apikey_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysWireApi.account_create_apikey ...'
      end
      # verify the required parameter 'account_create_apikey_request' is set
      if @api_client.config.client_side_validation && account_create_apikey_request.nil?
        fail ArgumentError, "Missing the required parameter 'account_create_apikey_request' when calling APIKeysWireApi.account_create_apikey"
      end
      # resource path
      local_var_path = '/api/v1/iam/apikeys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(account_create_apikey_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountCreatedApikey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysWireApi.account_create_apikey",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysWireApi#account_create_apikey\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List
    # Metadata only. A key's secret is never in a list - not here and not in the console - because a list is the response that ends up in logs, caches and support tickets.  `retrievable` says whether the secret could still be read back at all. A key issued before this product stored secrets recoverably was never kept, so `reveal` will refuse it permanently; rotating produces one that can be read. 
    # @param [Hash] opts the optional parameters
    # @return [ApikeyList]
    def account_list_apikeys(opts = {})
      data, _status_code, _headers = account_list_apikeys_with_http_info(opts)
      data
    end

    # List
    # Metadata only. A key&#39;s secret is never in a list - not here and not in the console - because a list is the response that ends up in logs, caches and support tickets.  &#x60;retrievable&#x60; says whether the secret could still be read back at all. A key issued before this product stored secrets recoverably was never kept, so &#x60;reveal&#x60; will refuse it permanently; rotating produces one that can be read. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApikeyList, Integer, Hash)>] ApikeyList data, response status code and response headers
    def account_list_apikeys_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysWireApi.account_list_apikeys ...'
      end
      # resource path
      local_var_path = '/api/v1/iam/apikeys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApikeyList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysWireApi.account_list_apikeys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysWireApi#account_list_apikeys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reveal
    # Returns an existing key's secret.  Its own scope rather than part of `apikeys.manage`, because the two are different acts: rotating replaces a secret you never see, while this hands one over.  Refused with `NOT_RETRIEVABLE` for a key issued before this product stored secrets recoverably - that secret was never kept, so no retry will ever produce it. Rotate the key instead. 
    # @param id [String] The key&#39;s id, as returned by the list endpoint. Never the key itself.
    # @param [Hash] opts the optional parameters
    # @return [AccountRevealedApikey]
    def account_reveal_apikey(id, opts = {})
      data, _status_code, _headers = account_reveal_apikey_with_http_info(id, opts)
      data
    end

    # Reveal
    # Returns an existing key&#39;s secret.  Its own scope rather than part of &#x60;apikeys.manage&#x60;, because the two are different acts: rotating replaces a secret you never see, while this hands one over.  Refused with &#x60;NOT_RETRIEVABLE&#x60; for a key issued before this product stored secrets recoverably - that secret was never kept, so no retry will ever produce it. Rotate the key instead. 
    # @param id [String] The key&#39;s id, as returned by the list endpoint. Never the key itself.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountRevealedApikey, Integer, Hash)>] AccountRevealedApikey data, response status code and response headers
    def account_reveal_apikey_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysWireApi.account_reveal_apikey ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling APIKeysWireApi.account_reveal_apikey"
      end
      # resource path
      local_var_path = '/api/v1/iam/apikeys/{id}/reveal'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountRevealedApikey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysWireApi.account_reveal_apikey",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysWireApi#account_reveal_apikey\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke
    # Stops the key working. Revocation is soft: the key stays listed with a `revoked_at`, because the organization still owns whatever it did while it was alive. 
    # @param id [String] The key&#39;s id, as returned by the list endpoint. Never the key itself.
    # @param [Hash] opts the optional parameters
    # @return [AccountRc]
    def account_revoke_apikey(id, opts = {})
      data, _status_code, _headers = account_revoke_apikey_with_http_info(id, opts)
      data
    end

    # Revoke
    # Stops the key working. Revocation is soft: the key stays listed with a &#x60;revoked_at&#x60;, because the organization still owns whatever it did while it was alive. 
    # @param id [String] The key&#39;s id, as returned by the list endpoint. Never the key itself.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountRc, Integer, Hash)>] AccountRc data, response status code and response headers
    def account_revoke_apikey_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysWireApi.account_revoke_apikey ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling APIKeysWireApi.account_revoke_apikey"
      end
      # resource path
      local_var_path = '/api/v1/iam/apikeys/{id}/revoke'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountRc'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysWireApi.account_revoke_apikey",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysWireApi#account_revoke_apikey\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate
    # Replaces the secret behind a key, keeping its id, name and settings. The previous secret stops working immediately. 
    # @param id [String] The key&#39;s id, as returned by the list endpoint. Never the key itself.
    # @param [Hash] opts the optional parameters
    # @return [AccountCreatedApikey]
    def account_rotate_apikey(id, opts = {})
      data, _status_code, _headers = account_rotate_apikey_with_http_info(id, opts)
      data
    end

    # Rotate
    # Replaces the secret behind a key, keeping its id, name and settings. The previous secret stops working immediately. 
    # @param id [String] The key&#39;s id, as returned by the list endpoint. Never the key itself.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountCreatedApikey, Integer, Hash)>] AccountCreatedApikey data, response status code and response headers
    def account_rotate_apikey_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysWireApi.account_rotate_apikey ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling APIKeysWireApi.account_rotate_apikey"
      end
      # resource path
      local_var_path = '/api/v1/iam/apikeys/{id}/rotate'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountCreatedApikey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"APIKeysWireApi.account_rotate_apikey",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysWireApi#account_rotate_apikey\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
