=begin
#VPNDetection API

#The VPNDetection API: classify any IP address, and download the databases behind the answers.  See https://docs.vpndetection.io for guides and https://github.com/vpndetection-io for the official client libraries. 

The version of the OpenAPI document: 2026.09.21
Contact: support@vpndetection.io
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module VPNDetection
  # @deprecated Since 5.2.0, and removed in the next major. Use {VPNDetection::Client#oauth}.
  class AuthorizationWireApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      warn("#{self.class} is deprecated; use VPNDetection::Client#oauth", category: :deprecated)
      @api_client = api_client
    end
    # Authorize
    # The browser entry point for the authorization-code flow. This is a redirect target, not something to call from code.  An unknown `client_id` or an unregistered `redirect_uri` is shown to the USER and never redirected, because sending an error to an address we have not verified belongs to you is how an open redirector works. Everything else comes back to your `redirect_uri` with `error`, your `state`, and `iss`. 
    # @param client_id [String] 
    # @param redirect_uri [String] 
    # @param response_type [String] 
    # @param code_challenge [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code_challenge_method S256 only. &#x60;plain&#x60; is refused rather than downgraded.
    # @option opts [String] :scope 
    # @option opts [String] :state Returned unchanged. Use it to bind the response to your request.
    # @option opts [String] :resource RFC 8707. What the token is FOR, so it cannot be replayed elsewhere.
    # @return [nil]
    def oauth_authorize(client_id, redirect_uri, response_type, code_challenge, opts = {})
      oauth_authorize_with_http_info(client_id, redirect_uri, response_type, code_challenge, opts)
      nil
    end

    # Authorize
    # The browser entry point for the authorization-code flow. This is a redirect target, not something to call from code.  An unknown &#x60;client_id&#x60; or an unregistered &#x60;redirect_uri&#x60; is shown to the USER and never redirected, because sending an error to an address we have not verified belongs to you is how an open redirector works. Everything else comes back to your &#x60;redirect_uri&#x60; with &#x60;error&#x60;, your &#x60;state&#x60;, and &#x60;iss&#x60;. 
    # @param client_id [String] 
    # @param redirect_uri [String] 
    # @param response_type [String] 
    # @param code_challenge [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code_challenge_method S256 only. &#x60;plain&#x60; is refused rather than downgraded.
    # @option opts [String] :scope 
    # @option opts [String] :state Returned unchanged. Use it to bind the response to your request.
    # @option opts [String] :resource RFC 8707. What the token is FOR, so it cannot be replayed elsewhere.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def oauth_authorize_with_http_info(client_id, redirect_uri, response_type, code_challenge, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizationWireApi.oauth_authorize ...'
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AuthorizationWireApi.oauth_authorize"
      end
      # verify the required parameter 'redirect_uri' is set
      if @api_client.config.client_side_validation && redirect_uri.nil?
        fail ArgumentError, "Missing the required parameter 'redirect_uri' when calling AuthorizationWireApi.oauth_authorize"
      end
      # verify the required parameter 'response_type' is set
      if @api_client.config.client_side_validation && response_type.nil?
        fail ArgumentError, "Missing the required parameter 'response_type' when calling AuthorizationWireApi.oauth_authorize"
      end
      # verify enum value
      allowable_values = ["code"]
      if @api_client.config.client_side_validation && !allowable_values.include?(response_type)
        fail ArgumentError, "invalid value for \"response_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'code_challenge' is set
      if @api_client.config.client_side_validation && code_challenge.nil?
        fail ArgumentError, "Missing the required parameter 'code_challenge' when calling AuthorizationWireApi.oauth_authorize"
      end
      allowable_values = ["S256"]
      if @api_client.config.client_side_validation && opts[:'code_challenge_method'] && !allowable_values.include?(opts[:'code_challenge_method'])
        fail ArgumentError, "invalid value for \"code_challenge_method\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/oauth/authorize'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'client_id'] = client_id
      query_params[:'redirect_uri'] = redirect_uri
      query_params[:'response_type'] = response_type
      query_params[:'code_challenge'] = code_challenge
      query_params[:'code_challenge_method'] = opts[:'code_challenge_method'] if !opts[:'code_challenge_method'].nil?
      query_params[:'scope'] = opts[:'scope'] if !opts[:'scope'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'resource'] = opts[:'resource'] if !opts[:'resource'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthorizationWireApi.oauth_authorize",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizationWireApi#oauth_authorize\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Device authorization
    # Starts the device flow. Show the `user_code` to the person and send them to `verification_uri`; `verification_uri_complete` has the code already embedded, which is what to open if you can open a browser at all.  Then poll `/oauth/token`, no faster than `interval` seconds. 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :scope Space-delimited. Anything your client is not registered for is dropped rather than refused.
    # @option opts [String] :resource RFC 8707: what the token is for.
    # @return [DeviceAuthorization]
    def oauth_device_authorization(client_id, opts = {})
      data, _status_code, _headers = oauth_device_authorization_with_http_info(client_id, opts)
      data
    end

    # Device authorization
    # Starts the device flow. Show the &#x60;user_code&#x60; to the person and send them to &#x60;verification_uri&#x60;; &#x60;verification_uri_complete&#x60; has the code already embedded, which is what to open if you can open a browser at all.  Then poll &#x60;/oauth/token&#x60;, no faster than &#x60;interval&#x60; seconds. 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :scope Space-delimited. Anything your client is not registered for is dropped rather than refused.
    # @option opts [String] :resource RFC 8707: what the token is for.
    # @return [Array<(DeviceAuthorization, Integer, Hash)>] DeviceAuthorization data, response status code and response headers
    def oauth_device_authorization_with_http_info(client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizationWireApi.oauth_device_authorization ...'
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AuthorizationWireApi.oauth_device_authorization"
      end
      # resource path
      local_var_path = '/oauth/device_authorization'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['client_id'] = client_id
      form_params['scope'] = opts[:'scope'] if !opts[:'scope'].nil?
      form_params['resource'] = opts[:'resource'] if !opts[:'resource'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceAuthorization'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthorizationWireApi.oauth_device_authorization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizationWireApi#oauth_device_authorization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Discovery
    # RFC 8414 authorization server metadata: the endpoints, the grant types and the scopes this server supports.  Read this rather than hardcoding endpoints. It is also served at `/.well-known/openid-configuration`, identically, because several clients probe that path first. 
    # @param [Hash] opts the optional parameters
    # @return [OauthMetadata]
    def oauth_metadata(opts = {})
      data, _status_code, _headers = oauth_metadata_with_http_info(opts)
      data
    end

    # Discovery
    # RFC 8414 authorization server metadata: the endpoints, the grant types and the scopes this server supports.  Read this rather than hardcoding endpoints. It is also served at &#x60;/.well-known/openid-configuration&#x60;, identically, because several clients probe that path first. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OauthMetadata, Integer, Hash)>] OauthMetadata data, response status code and response headers
    def oauth_metadata_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizationWireApi.oauth_metadata ...'
      end
      # resource path
      local_var_path = '/.well-known/oauth-authorization-server'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OauthMetadata'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthorizationWireApi.oauth_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizationWireApi#oauth_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke
    # RFC 7009. Always answers 200, including for a token that was never valid - an endpoint that distinguished the two would be a way to test whether a stolen string is a live credential.  Revoking a REFRESH token ends the whole authorization and takes its access tokens with it. Revoking an access token affects only that token. 
    # @param token [String] An access token or a refresh token.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_id Accepted and not checked.
    # @return [Object]
    def oauth_revoke(token, opts = {})
      data, _status_code, _headers = oauth_revoke_with_http_info(token, opts)
      data
    end

    # Revoke
    # RFC 7009. Always answers 200, including for a token that was never valid - an endpoint that distinguished the two would be a way to test whether a stolen string is a live credential.  Revoking a REFRESH token ends the whole authorization and takes its access tokens with it. Revoking an access token affects only that token. 
    # @param token [String] An access token or a refresh token.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_id Accepted and not checked.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def oauth_revoke_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizationWireApi.oauth_revoke ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AuthorizationWireApi.oauth_revoke"
      end
      # resource path
      local_var_path = '/oauth/revoke'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['token'] = token
      form_params['client_id'] = opts[:'client_id'] if !opts[:'client_id'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthorizationWireApi.oauth_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizationWireApi#oauth_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Token
    # Three grant types.  `urn:ietf:params:oauth:grant-type:device_code` polls a device authorization. Until the person approves it answers `authorization_pending`; poll faster than `interval` and it answers `slow_down`, which means widen your interval and keep it widened.  `authorization_code` exchanges a code from `/oauth/authorize`, with the `code_verifier` matching the challenge you sent.  `refresh_token` exchanges a refresh token. The presented token is consumed whatever happens next, so store the new one before using it. 
    # @param grant_type [String] &#x60;urn:ietf:params:oauth:grant-type:device_code&#x60;, &#x60;authorization_code&#x60; or &#x60;refresh_token&#x60;.
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_code Required by the device code grant.
    # @option opts [String] :code Required by the authorization code grant.
    # @option opts [String] :code_verifier Required by the authorization code grant.
    # @option opts [String] :redirect_uri Authorization code grant: the &#x60;redirect_uri&#x60; the code was issued against, exactly.
    # @option opts [String] :refresh_token Required by the refresh token grant.
    # @return [TokenResponse]
    def oauth_token(grant_type, client_id, opts = {})
      data, _status_code, _headers = oauth_token_with_http_info(grant_type, client_id, opts)
      data
    end

    # Token
    # Three grant types.  &#x60;urn:ietf:params:oauth:grant-type:device_code&#x60; polls a device authorization. Until the person approves it answers &#x60;authorization_pending&#x60;; poll faster than &#x60;interval&#x60; and it answers &#x60;slow_down&#x60;, which means widen your interval and keep it widened.  &#x60;authorization_code&#x60; exchanges a code from &#x60;/oauth/authorize&#x60;, with the &#x60;code_verifier&#x60; matching the challenge you sent.  &#x60;refresh_token&#x60; exchanges a refresh token. The presented token is consumed whatever happens next, so store the new one before using it. 
    # @param grant_type [String] &#x60;urn:ietf:params:oauth:grant-type:device_code&#x60;, &#x60;authorization_code&#x60; or &#x60;refresh_token&#x60;.
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_code Required by the device code grant.
    # @option opts [String] :code Required by the authorization code grant.
    # @option opts [String] :code_verifier Required by the authorization code grant.
    # @option opts [String] :redirect_uri Authorization code grant: the &#x60;redirect_uri&#x60; the code was issued against, exactly.
    # @option opts [String] :refresh_token Required by the refresh token grant.
    # @return [Array<(TokenResponse, Integer, Hash)>] TokenResponse data, response status code and response headers
    def oauth_token_with_http_info(grant_type, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizationWireApi.oauth_token ...'
      end
      # verify the required parameter 'grant_type' is set
      if @api_client.config.client_side_validation && grant_type.nil?
        fail ArgumentError, "Missing the required parameter 'grant_type' when calling AuthorizationWireApi.oauth_token"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AuthorizationWireApi.oauth_token"
      end
      # resource path
      local_var_path = '/oauth/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['grant_type'] = grant_type
      form_params['client_id'] = client_id
      form_params['device_code'] = opts[:'device_code'] if !opts[:'device_code'].nil?
      form_params['code'] = opts[:'code'] if !opts[:'code'].nil?
      form_params['code_verifier'] = opts[:'code_verifier'] if !opts[:'code_verifier'].nil?
      form_params['redirect_uri'] = opts[:'redirect_uri'] if !opts[:'redirect_uri'].nil?
      form_params['refresh_token'] = opts[:'refresh_token'] if !opts[:'refresh_token'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthorizationWireApi.oauth_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizationWireApi#oauth_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
