=begin
#VPNDetection API

#The VPNDetection API: classify any IP address, and download the databases behind the answers.  See https://docs.vpndetection.io for guides and https://github.com/vpndetection-io for the official client libraries. 

The version of the OpenAPI document: 2026.09.13
Contact: support@vpndetection.io
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module VPNDetection
  class DatabaseWireApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Checksums
    # Checksums for one published file, so a download can be verified after it lands. 
    # @param id [String] 
    # @param format [DatabaseFormat] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseChecksumsResponse]
    def database_checksum(id, format, opts = {})
      data, _status_code, _headers = database_checksum_with_http_info(id, format, opts)
      data
    end

    # Checksums
    # Checksums for one published file, so a download can be verified after it lands. 
    # @param id [String] 
    # @param format [DatabaseFormat] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseChecksumsResponse, Integer, Hash)>] DatabaseChecksumsResponse data, response status code and response headers
    def database_checksum_with_http_info(id, format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseWireApi.database_checksum ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseWireApi.database_checksum"
      end
      # verify the required parameter 'format' is set
      if @api_client.config.client_side_validation && format.nil?
        fail ArgumentError, "Missing the required parameter 'format' when calling DatabaseWireApi.database_checksum"
      end
      # resource path
      local_var_path = '/api/v1/database/checksum'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'format'] = format

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseChecksumsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyQuery', 'bearerAuth', 'apiKeyHeader']

      new_options = opts.merge(
        :operation => :"DatabaseWireApi.database_checksum",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseWireApi#database_checksum\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Metadata
    # Poll this to decide whether today's build is worth fetching: it carries `updated` and `entries` without downloading anything.  No `format` parameter - one document describes every format the database is built in. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseMetadata]
    def database_metadata(id, opts = {})
      data, _status_code, _headers = database_metadata_with_http_info(id, opts)
      data
    end

    # Metadata
    # Poll this to decide whether today&#39;s build is worth fetching: it carries &#x60;updated&#x60; and &#x60;entries&#x60; without downloading anything.  No &#x60;format&#x60; parameter - one document describes every format the database is built in. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseMetadata, Integer, Hash)>] DatabaseMetadata data, response status code and response headers
    def database_metadata_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseWireApi.database_metadata ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseWireApi.database_metadata"
      end
      # resource path
      local_var_path = '/api/v1/database/metadata'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseMetadata'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyQuery', 'bearerAuth', 'apiKeyHeader']

      new_options = opts.merge(
        :operation => :"DatabaseWireApi.database_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseWireApi#database_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download
    # Answers `302` with a time-limited URL pointing straight at object storage. Follow the redirect; the link authorizes the START of a transfer, so one already running is not interrupted when it lapses. 
    # @param id [String] Dataset id, e.g. vpn_ip_extended_v1
    # @param format [DatabaseFormat] Not every database is built in every format. The &#x60;_provider&#x60; catalogues are keyed by provider id rather than by IP range, so no MMDB exists for them. 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def download_database(id, format, opts = {})
      download_database_with_http_info(id, format, opts)
      nil
    end

    # Download
    # Answers &#x60;302&#x60; with a time-limited URL pointing straight at object storage. Follow the redirect; the link authorizes the START of a transfer, so one already running is not interrupted when it lapses. 
    # @param id [String] Dataset id, e.g. vpn_ip_extended_v1
    # @param format [DatabaseFormat] Not every database is built in every format. The &#x60;_provider&#x60; catalogues are keyed by provider id rather than by IP range, so no MMDB exists for them. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def download_database_with_http_info(id, format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseWireApi.download_database ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseWireApi.download_database"
      end
      # verify the required parameter 'format' is set
      if @api_client.config.client_side_validation && format.nil?
        fail ArgumentError, "Missing the required parameter 'format' when calling DatabaseWireApi.download_database"
      end
      # resource path
      local_var_path = '/api/v1/database/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'format'] = format

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyQuery', 'bearerAuth', 'apiKeyHeader']

      new_options = opts.merge(
        :operation => :"DatabaseWireApi.download_database",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseWireApi#download_database\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List
    # Every database this organization may SEE, with where its licence stands. Not just the ones you hold: a customer with one grant should be able to tell what else is published without asking. `standing` is the difference - `licensed`, `expired`, or `unlicensed` for one never bought. 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseList]
    def list_databases(opts = {})
      data, _status_code, _headers = list_databases_with_http_info(opts)
      data
    end

    # List
    # Every database this organization may SEE, with where its licence stands. Not just the ones you hold: a customer with one grant should be able to tell what else is published without asking. &#x60;standing&#x60; is the difference - &#x60;licensed&#x60;, &#x60;expired&#x60;, or &#x60;unlicensed&#x60; for one never bought. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseList, Integer, Hash)>] DatabaseList data, response status code and response headers
    def list_databases_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseWireApi.list_databases ...'
      end
      # resource path
      local_var_path = '/api/v1/database/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyQuery', 'bearerAuth', 'apiKeyHeader']

      new_options = opts.merge(
        :operation => :"DatabaseWireApi.list_databases",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseWireApi#list_databases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # History
    # Recent download attempts for this organization, newest first. Refusals are listed too, so a failed transfer can be accounted for. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @return [DownloadList]
    def list_downloads(opts = {})
      data, _status_code, _headers = list_downloads_with_http_info(opts)
      data
    end

    # History
    # Recent download attempts for this organization, newest first. Refusals are listed too, so a failed transfer can be accounted for. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(DownloadList, Integer, Hash)>] DownloadList data, response status code and response headers
    def list_downloads_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseWireApi.list_downloads ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DatabaseWireApi.list_downloads, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/api/v1/database/downloads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyQuery', 'bearerAuth', 'apiKeyHeader']

      new_options = opts.merge(
        :operation => :"DatabaseWireApi.list_downloads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseWireApi#list_downloads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
