=begin
#VPNDetection API

#The VPNDetection API: classify any IP address, and download the databases behind the answers.  See https://docs.vpndetection.io for guides and https://github.com/vpndetection-io for the official client libraries. 

The version of the OpenAPI document: 2026.09.15
Contact: support@vpndetection.io
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module VPNDetection
  class EntitlementWireApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Your key, plan and usage
    # Answers what the presented key is, what plan is behind it, and what has been spent against that plan's allowance in the current window. 
    # @param [Hash] opts the optional parameters
    # @return [Entitlement]
    def my_entitlement(opts = {})
      data, _status_code, _headers = my_entitlement_with_http_info(opts)
      data
    end

    # Your key, plan and usage
    # Answers what the presented key is, what plan is behind it, and what has been spent against that plan&#39;s allowance in the current window. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Entitlement, Integer, Hash)>] Entitlement data, response status code and response headers
    def my_entitlement_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementWireApi.my_entitlement ...'
      end
      # resource path
      local_var_path = '/api/v1/entitlement/me'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Entitlement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyQuery', 'bearerAuth', 'apiKeyHeader']

      new_options = opts.merge(
        :operation => :"EntitlementWireApi.my_entitlement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementWireApi#my_entitlement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
